.panel.panel-info.show
  .panel-heading
    .row
      .col-md-4
        = link_to foodtruck.name, company_food_truck_path(foodtruck.company, foodtruck)
      .col-md-4
      .col-md-4
        .pheadleft
          - if foodtruck.status == "serving"
            = "Now Serving Food!"
          -else 
            = "We Are Closed!"
  .row
    .col-md-8
      = image_tag foodtruck.image.url, style: "width: 130px; height: 100px; border: 1px solid #D9EDF7"
      = foodtruck.description
    .col-md-4
      .thistruck  
        =form_tag likeorunlike_company_food_truck_path(foodtruck.company, foodtruck), method: :post, remote: true do
          =hidden_field_tag "like[user_id]", current_user.id
          =hidden_field_tag "like[food_truck_id]", foodtruck.id
          -if foodtruck.current_user_likes_this_truck(current_user).length > 0
            =submit_tag "Unlike", class: "unlike button btn btn-default btn-lg btn-block"      
          -else                           
            =submit_tag "Like", class: "like button btn btn-primary btn-lg btn-block"       
.col-xs-4